body {
    background-color: black;
    margin: 0;
    color: aliceblue;
}

h1 {
    text-align: center;
}

nav {
    background-color: rgb(40, 40, 41);
}

#main-menu {
    list-style: none;
    display: flex;
    color: darkgray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main-menu>li {
    padding: 0.3em 1em;
    cursor: pointer;
}