body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: rgb(180, 180, 180);
}

header, footer {
    background-color: #333;
    color: rgb(180, 180, 180);
    text-align: center;
    padding: 15px;
    padding-bottom: 1px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

article {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

article header h2 {
    margin-top: 0;
    color: rgb(255, 255, 255);
}

a {
    color: #333;
    text-decoration: none;
    margin-top: 0;
}

.content-wrapper {
    display: flex;
    align-items: stretch;
    gap: 50px;
}

.articles {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-image {
    flex: 1;
    height: 100%;
    max-width: 350px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

a:hover {
    color: rgb(200, 0, 255);
    text-decoration: underline;
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .profile-image {
        max-width: 100%;
        height: auto;
    }
}