form {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}

input, output {
    margin-bottom: 2em;
    padding: 5px;
    border-radius: 10px;
    border-color: azure;
    background-color: black;
    color: rgb(255, 255, 255);
}

output {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
}

.fancy-label {
    position: relative;
}

.fancy-label>label {
    position: absolute;
    top: -0.7em;
    left: 0.5em;
    font-size: 0.7em;
    background-color: rgb(0, 0, 0);
    transition: all 0.3s ease;
}

.fancy-label>label.like-placeholder {
    top: 0.3em;
    font-size: 1em;
}