body {
    background-color: black;
    color: white;
    margin: 25px 50px 25px 50px;        /*oben/unten: 25px, links/rechts: 50px */
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

h1 {
    font-size: 40px;
    margin-bottom: 0px;
}

h3 {
    margin-bottom:5px;
}

a {
    color: white;
    text-decoration: none;
    margin-top: 0;
}

audio {
    width: 500px;
}

b {
    font-size: 20px;
}

.logo {
    width: 125px;
    float: right;
    transition: opacity 0.3s ease-in;
    content: url("img/DHGE-logo-sw.png");
}

.chapter {
    margin-bottom: 10px;
    margin-top: 40px;
}

h2:hover {
    color:deeppink;
}

a:hover {
    color: rgb(0, 251, 255);
    text-decoration: underline;
}

.logo:hover {
    content: url("img/DHGE-logo-farbig.png");
}

u:hover {
    color: rgb(0, 251, 255);
    text-decoration: underline; 
}