em {
    color: aquamarine;
    font-size: x-large;
    font-weight: bolder;
    font-style: oblique;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

del {
    color: crimson;
    text-decoration-style: wavy;
    text-decoration-color: antiquewhite;
    font-size: x-large;
    text-shadow: 10px -5px 5px greenyellow; /*x y Blur-Effekt Farbe*/
}

h1 {
    text-align: center;
}